@charset "utf-8";
/* CSS Document */
html, body {
	margin:0;
	padding:0;
	height:auto;
	background:white !important;
}
.login-top-box {
	min-height:35%;
	/*margin-bottom:35px;*/
	margin-bottom: 15px;
	background:white url(../images/login_bg.jpg) repeat-x;
}
.center-box {
	text-align:center;
	padding:15px;
}
.logo-top {

}
.float {
	margin-bottom:20px;
}
.float-b {
	float:left;
}
.float-c {
	float:right;
}
.done {
	margin-bottom:15px;
	text-align:left !important;
}
.copyright-box {
	border-top:#CCC 1px solid;
}
.top-a {
	margin-top:85px;
	color:#CCC;
	font-size:9pt;	
}
.pass {
	height:30px !important;
}
.renm {
	margin-right:25px;
}
.big {
	font-size:18px;
}
.delete {
	padding:0 !important;
	border:0 !important;
}
.dl-browse {
	cursor: pointer; 
	color: #a0701d;
	padding:1px 6px 1px 16px; 
	margin: auto 6px;
	background: url(../images/icon_down.png) no-repeat left center;
}
.loginbtnWidth{ width:400px;}
.floatLabr_wid{ margin-right:5px;}
.Logo-Font-style {
    color: #fff;
    font-family: "微软雅黑";
    font-size: 35px;
    padding: 30px 0;
}